<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    Question Text :
    <input type="text" formControlName="questionText" required>
  </label>
   
  <br>

<label>Question Category
  <select [(ngModel)]="category" id="category" formControlName="category">
   
    <option *ngFor="let item of categories" [value]="item.Id">{{item.Name}}</option>
  </select>
</label>

  <!-- <div formGroupName="address">
    <h3>Address</h3>

    <label>
      Street:
      <input type="text" formControlName="street">
    </label>

    <label>
      City:
      <input type="text" formControlName="city">
    </label>
    
    <label>
      State:
      <input type="text" formControlName="state">
    </label>

    <label>
      Zip Code:
      <input type="text" formControlName="zip">
    </label>
  </div> -->

  <!-- <div formArrayName="aliases">
    <h3>Answers</h3> <button (click)="addAlias()">Add Answer</button>

    <div *ngFor="let address of aliases.controls; let i=index">
      <label>
        Answer:
        <div *ngIf="answer" > {{answer.AnswerText}} {{answer.Mark}} </div>
        <input type="text" [formControlName]="i" >
      </label>
      <label>
        Mark:
        <input type="text" [formControlName]="i" >
      </label>

    </div>
  </div> -->

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

<hr>


<p>
  Form Value: {{ profileForm.value | json }}
</p>


<p>
  Form Status: {{ profileForm.status }}
</p>

<p>
  <button (click)="updateProfile()">Add Question</button>
</p>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->