
<h1 style="text-align: center">Admin Dashboard</h1>
<div class="row">
  <div style="width: 1024px;">
    <div style=" height: 50px">
      <b> <a [routerLink]="['AddUser']">Add User</a></b>
      <router-outlet name="User"></router-outlet>
    </div>
    <div style=" height: 50px">
      <b> <a [routerLink]="['AddCategory']"> Add Category</a></b>
    </div>
  </div>
  <div style=" height: 50px">
    <b> <a [routerLink]="['AddQuastion']"> Add Quastion</a></b>
  </div>
  <div style=" height: 50px">
    <b> <a [routerLink]="['AddExam']"> Add Exam</a></b>
  </div>
  <div style=" height: 50px">
    <b><a [routerLink]="['ManageExam']"> Manage Exam</a></b>
  </div>
  <router-outlet></router-outlet>
</div>



<h1>Popup/Modal Windows without JavaScript</h1>
<div id="wrapper">
  <p><a class="button" href="#popup1">Click Me</a></p>
	<p><a class="button" href="#popup2">Click Me Too</a></p>
</div>

<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Info box</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			<p>This is done totally without JavaScript. Just HTML and CSS.</p>
		</div>
	</div>
</div>